*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #333;
	font-family: arial, sans-serif;
}

.digital{
	color: #fff;
	font-size: 40px;
	margin-top: 20px;